<div class="card">
  <app-list
    *ngIf="productsReady"
    [items]="products"
    [pagination]="true"
    [totalRecords]="products.length"
    [gridItemTemplate]="gridItem"
    [listItemTemplate]="listItem"
    [selectable]="false"
    [sortKey]="'name'"
    [sortOptions]="sortOptions"
  ></app-list>
</div>

<!--GRID TEMPLATE -->
<ng-template #gridItem let-product>
  <span class="flex align-items-center gap-2 mx-auto">
      <i class="pi pi-tag"></i>
      <span>{{ product.category }}</span>
  </span>

  <span>{{product.inventoryStatus}}</span>

  <p class="m-0">{{ product.name }}</p>
  <p class="m-0">{{product.description}}</p>
  <p-rating [readonly]="true" [cancel]="false" [ngModel]="product.rating"></p-rating>

  <div class="flex justify-content-center align-items-end">
    <span>{{ '$' + product.price }}</span>
    <button pButton icon="pi pi-shopping-cart"
            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
  </div>
</ng-template>

<!--LIST TEMPLATE -->
<ng-template #listItem let-product>
  <span>{{ product.name }}</span>

  <div class="flex">
    <span>{{ '$' + product.price }}</span>
    <button pButton icon="pi pi-shopping-cart"
            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
  </div>
</ng-template>
